<!DOCTYPE html>
<html>
    <head>
       <meta charset = "UTF-8"/>
       <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
       <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
       <script type="text/javascript" src="/js/angular-1.4.8.min.js"></script>
       <script type="text/javascript" src="https://code.angularjs.org/1.3.0-rc.1/angular-route.min.js"></script>
       <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
       <script type="text/javascript" src="/js/app.js"></script>
       <script type="text/javascript" src="/js/controllers/mainController.js"></script>
       <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="/css/style.css">
       <title>Campaign Page</title>
    </head>
    <body ng-app="appTitan" ng-controller="mainController">
        <header>
           <div class="header-container">
               <div class="logo"><a href="#"><img src="/images/logo-qol.png" alt="logo"></a></div>
                <nav>
                    <ul>
                        <li>
                        	<a href="#">Categories</a>
                        	<ul>
                        		<li><a href="#">Automobile</a></li>
                        		<li><a href="#">Education</a></li>
                        		<li><a href="#">General</a></li>
                        		<li><a href="#">Geography</a></li>
                        		<li><a href="#">Movies</a></li>
                        		<li><a href="#">Music</a></li>
                        		<li><a href="#">Nature</a></li>
                        		<li><a href="#">Politics</a></li>
                        		<li><a href="#">Science</a></li>
                        		<li><a href="#">Sports</a></li>
                        	</ul>
                        </li>
                    </ul>
                </nav>
                <button class="camp-button">Create a Quiz</button>
           </div>
        </header>
        <section class="row row--one hero">
			<div class="hero__image" style='background: url("/images/home-hero.jpg") no-repeat;'></div>
        </section>    
        <section class="row title-area">
            <div class="row__content row__content--quiz">
                <div class="col-sm-12">
                    <h1>{{ quizData.title }}</h1>
                    <p>{{quizData.intro}}</p>
                </div>
            </div>
        </section>    
        <section class="row content-area">
            <div class="row__content row__content--quiz">
            	<div class="col-sm-12">
            		<div class="question-answers">
						<ol>
							<li class="question-answers__item" ng-repeat="questions in quizData.questionAndAnswers">
								<div class="question-answers__item__wrapper">
									<div class="question-answers__item__question">
										<h3>{{ questions.questionName }}</h3>
									</div>
									<div class="question-answers__item__answers">
										<ul>
											<li>{{questions.answerOne}}</li>
											<li>{{questions.answerTwo}}</li>
											<li>{{questions.answerThree}}</li>
											<li>{{questions.answerFour}}</li>
										</ul>
									</div>
								</div>
							</li>
						</ol>
            		</div>
            	</div>
             	<div class="col-sm-12">
            		<div class="row related-quizes">
            			<div class="col-sm-4 related-quizes__item">
            				<div class="related-quizes__item__image">
            					<img src="/images/banner.jpg" alt="Quiz Banner" />
            				</div>
            				<div class="related-quizes__item__info">
            					<h4>{{ relatedQuizData.title }}</h4>
            					<p>{{ relatedQuizData.intro }}</p>
            				</div>
            				<div class="related-quizes__item__sample-question-answers">
            					<h5>{{ relatedQuizData.title }}</h5>
								<ul ng-repeat="">
									<li>{{ quizData.questionAndAnswers }}</li>
								</ul>
            				</div>
            			</div>
            		</div>
            	</div>
            </div>
        </section>
        <footer class="row">
        	<div class="row__content">
        		<div class="col-sm-12">
        			
        		</div>
        	</div>
        </footer>
    </body>
</html>