<section class="row row--one">
    <div class="row-content">
        <div class="col-sm-8">
            <form action="">
                <div class="form-group">
                    <label for="quiz_title">Quiz Title</label>
                    <input type="text" name="quiz_title" id="quiz_title" ng-model="startQuizData.title">
                </div>
                <div class="form-group">
                    <label for="quiz_intro">Quiz Intro</label>
                    <textarea name="quiz_intro" rows="8" cols="40" id="quiz_intro" ng-model="startQuizData.intro"></textarea>
                </div>
                <div class="form-group">
                    <label for="quiz_category">What's the tile of your campaign?</label>
                    <select name="quiz_category" id="quiz_category" ng-model="startQuizData.category">
						<option value="Automobile">Automobile</option>
						<option value="Education">Education</option>
						<option value="General">General</option>
						<option value="Geography">Geography</option>
						<option value="Movies">Movies</option>
						<option value="Music">Music</option>
						<option value="Nature">Nature</option>
						<option value="Politics">Politics</option>
						<option value="Science">Science</option>
						<option value="Sports">Sports</option>
                    </select>
                </div>
                <div class="form-group" data-ng-repeat="question in questions">
                    <label for="quiz_question_1">Question</label>
                    <input type="text" ng-model="question.questionName">
                    <input type="text" ng-model="question.answerOne.value">
                    <input type="text" ng-model="question.answerTwo.value">
                    <input type="text" ng-model="question.answerThree.value">
                    <input type="text" ng-model="question.answerFour.value">
                </div>
                <button class="addfields" ng-click="addNewQuestion()">Add New Question</button>
               
<!--
				<fieldset data-ng-repeat="choice in choices">
				  <select>
					 <option>Mobile</option>
					 <option>Office</option>
					 <option>Home</option>
				  </select>
				  <input type="text" ng-model="choice.name" name="" placeholder="Enter mobile number">
				  <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
				</fieldset>
				<button class="addfields" ng-click="addNewChoice()">Add fields</button>

				<div id="choicesDisplay">
				  {{ choices }}
				</div>
-->
               {{ startQuizData }}
                <div class="form-group">
                    <button ui-sref="form.stepTwo">CREATE</button>
                    <button type="submit" ng-click="createQuiz()">Create Quiz</button>
                </div>
            </form>
        </div>
    </div>
</section>           
