<section class="row">
    <div class="row-content">
        <div class="col-sm-8">
            <form action="">
                <div class="form-group">
                    <label for="quiz_title">Quiz Title</label>
                    <input type="text" name="quiz_title" id="quiz_title" ng-model="startQuizData.title">
                </div>
                <div class="form-group">
                    <label for="quiz_category">What's the tile of your campaign?</label>
                    <select name="quiz_category" id="quiz_category" ng-model="startQuizData.category">
                        <option value="movie">movie</option>
                        <option value="politics">politics</option>
                    </select>
                </div>
                <div class="form-group" data-ng-repeat="question in questions">
                    <label for="quiz_question_1">Question</label>
                    <input type="text" ng-model="question.questionName">
                    <input type="text" ng-model="question.answerOne">
                    <input type="text" ng-model="question.answerTwo">
                    <input type="text" ng-model="question.answerThree">
                    <input type="text" ng-model="question.answerFour">
                </div>
                <button class="addfields" ng-click="addNewQuestion()">Add New Question</button>
               
<!--
				<fieldset data-ng-repeat="choice in choices">
				  <select>
					 <option>Mobile</option>
					 <option>Office</option>
					 <option>Home</option>
				  </select>
				  <input type="text" ng-model="choice.name" name="" placeholder="Enter mobile number">
				  <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
				</fieldset>
				<button class="addfields" ng-click="addNewChoice()">Add fields</button>

				<div id="choicesDisplay">
				  {{ choices }}
				</div>
-->
               {{ startQuizData }}
                <div class="form-group">
                    <button ui-sref="form.stepTwo">CREATE</button>
                    <button type="submit" ng-click="createQuiz()">Create Quiz</button>
                </div>
            </form>
        </div>
    </div>
    <p>Goal amount:{{ startCampaignData.goalAmount }}</p>
    <p>Campaign Title:{{ startCampaignData.campaignTitle }}</p>
</section>           
<section class="row title-area row-one">
    <div class="row-content">
        <div class="col-sm-12">
            <h1>This is your campain name</h1>
            <p>and your</p>
        </div>
    </div>
</section>    
<section class="row">
    <div class="row-content">
        <form action="">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="image_video">Campaign image/Video</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="file" name="image_video" id="image_video">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="campaign_intro">Short intro</label>
                    </div>
                    <div class="col-sm-8">
                        <textarea name="campaign_intro" id="campaign_intro"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="campaign_story">About your Campaign</label>
                    </div>
                    <div class="col-sm-8">
                        <textarea name="campaign_story" id="campaign_story"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="campaign_location">Location</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" name="campaign_location" id="campaign_location">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="campaign_duration">Campaign duration</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" name="campaign_duration" id="campaign_duration">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button>SAVE &amp; PREVIEW</button>
            </div>
        </form>
    </div>
</section>
