<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/angular-1.4.8.min.js"></script>
		<script type="text/javascript" src="https://code.angularjs.org/1.3.0-rc.1/angular-route.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="/js/html2canvas.js"></script>
		<script type="text/javascript" src="/js/app.js"></script>
		<script type="text/javascript" src="/js/controllers/mainController.js"></script>
		<script type="text/javascript" src="/js/main.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/font-icons.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<title>kwikwiz</title>
    </head>
    <body ng-app="appTitan" ng-controller="MainController">
        <header>
           <div class="header-container">
               <div class="logo"><a href="#"><img src="/images/logo-qol.png" alt="logo"></a></div>
                <nav>
                    <ul>
                        <li>
                        	<a href="#">Categories</a>
                        	<ul>
                        		<li><a href="#">Automobile</a></li>
                        		<li><a href="#">Education</a></li>
                        		<li><a href="#">General</a></li>
                        		<li><a href="#">Geography</a></li>
                        		<li><a href="#">Movies</a></li>
                        		<li><a href="#">Music</a></li>
                        		<li><a href="#">Nature</a></li>
                        		<li><a href="#">Politics</a></li>
                        		<li><a href="#">Science</a></li>
                        		<li><a href="#">Sports</a></li>
                        	</ul>
                        </li>
                    </ul>
                </nav>
                <button class="camp-button">Create a Quiz</button>
           </div>
        </header>
<!--
        <section class="row row--one hero">
			<div class="hero__image" style='background: url("/images/home-hero.jpg") no-repeat;'></div>
        </section>    
-->
        <section class="row title-area">
            <div class="row__content row__content--title">
                <img src="/images/home-hero.jpg" alt="Hero" />
                <div class="col-sm-12">                    
                    <h1>{{ quizData.title }}</h1>
                    <h2>{{quizData.intro}}</h2>
                    <div class="title-area__footer">
                        <button>Shall we begin?</button>
                    </div>                   
                </div>
            </div>
        </section>    
        <section class="row quiz-area">
            <div class="row__content row__content--quiz">
            	<div class="col-sm-12">
            		<div class="user-name">
            			<form>
            				<label for="userName">Your name:</label>
            				<input type="text" id="userName" name="userName" ng-model="userName">
            			</form>
            			<button>Start meeesiq</button>
            		</div>
            		<div class="question-answers">
						<ul>
							<li class="question-answers__item" ng-repeat="questions in quizData.questionAndAnswers">
								<questions-answers questions="questions" chosen-answers-arr="chosenAnswersArr" index="$index"></questions-answers>
							</li>
						</ul>
                        <div class="question-answers--submit">
                            <button ng-click="showAnswers()">What's my scroe?</button>
                        </div>
            		</div>
            	</div>
            </div>
        </section>
        <section class="score-card">
            <h3>{{userName === '' ? 'I' : userName}}</h3>
            <h2>Scored</h2>
            <p class="score">
                <span class="score__total-correct">{{totalCorrectAnswers}}</span>
                <span class="score__total-questions">{{quizData.questionAndAnswers.length}}</span>
            </p>
            <div class="sample-question">
                <div class="question-answers__item__wrapper">
                    <div class="question-answers__item__question">
                        <h3>{{ quizData.questionAndAnswers[0].questionName }}</h3>
                    </div>
                    <div class="question-answers__item__answers">
                        <ul class="row">
                            <li>
                                <p>{{quizData.questionAndAnswers[0].answerOne.value}}</p>
                            </li>
                            <li>
                                <p>{{quizData.questionAndAnswers[0].answerTwo.value}}</p>
                            </li>
                            <li>
                                <p>{{quizData.questionAndAnswers[0].answerThree.value}}</p>
                            </li>
                            <li>
                                <p>{{quizData.questionAndAnswers[0].answerFour.value}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="row results-area">
			<div class="row__content results">
				<div class="col-sm-12 results__header">
					<h3>{{totalCorrectAnswers >= quizData.questionAndAnswers.length/2 ? 'Wow! You ' : 'Oh! You only '}}scored</h3>
					<p class="score">
						<span class="score__total-correct">{{totalCorrectAnswers}}</span>
						<span class="score__total-questions">{{quizData.questionAndAnswers.length}}</span>
					</p>
				</div>
				<div class="col-sm-12 results__body">
					<h3>Share your score and tag some friends</h3>
					<div id="fb-root"></div>
					<script>(function(d, s, id) {
					  var js, fjs = d.getElementsByTagName(s)[0];
					  if (d.getElementById(id)) return;
					  js = d.createElement(s); js.id = id;
					  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10&appId=209209405812373";
					  fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));</script>
					<div class="fb-share-button" data-href="{{standardUrl}}&shareId={{uniqueNum}}" data-layout="box_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{standardUrl}}&shareId={{uniqueNum}}&amp;src=sdkpreparse">Share</a></div>
				</div>
				<div class="col-sm-12 results__footer">
					<div class="results__footer__retry">
						<h4>Want know all the answers? Keep doing the quiz until you get all right ;-P</h4>
						<button onclick="location.reload();">Retry Quiz</button>
					</div>
				</div>
			</div>
			<div class="row__content related">
				<div class="col-sm-12">
					<h2>Related Quizes</h2>
				</div>
				<div class="col-sm-6 col-md-4" ng-repeat="related in relatedQuizData | limitTo:3">
					<div class="related__item">
						<div class="related__item__image">
							<a href="/viewQuiz?gpQ={{related._id}}"><img src="/images/banner.jpg" alt="Quiz Banner" /></a>
						</div>
						<div class="related__item__info">
							<h4>{{ related.title }}</h4>
						</div>
						<div class="related__item__sample-question-answers">
							<h5>{{ related.questionAndAnswers[0].questionName }}</h5>
						</div>
						<div class="related__item__sample-question-answers__item-answers">
							<ul class="row">
								<li class="col-sm-6">
									<p>{{related.questionAndAnswers[0].answerOne.value}}</p>
								</li>
								<li class="col-sm-6">
									<p>{{related.questionAndAnswers[0].answerTwo.value}}</p>
								</li>
								<li class="col-sm-6">
									<p>{{related.questionAndAnswers[0].answerThree.value}}</p>
								</li>
								<li class="col-sm-6">
									<p>{{related.questionAndAnswers[0].answerFour.value}}</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
        </section>
        <footer class="row">
        	<div class="row__content">
        		<div class="col-sm-12">
        			
        		</div>
        	</div>
        </footer>
    </body>
</html>